/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.Header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.Header nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.MainContent {
  padding: 20px;
}

.MainContent section {
  margin: 20px 0;
}

.Footer {
  background-color: #282c34;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.my-image {
  width: 10%;
  height: auto;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}